@using LoyaltyCRM.WebApp.Locales
@inject IStringLocalizer<Resources> L

<div class="card mt-4">
    <div class="card-body">
        <h5 class="card-title">@L["YearcardDisplay.Title"]</h5>
        <p><strong>@L["Yearcard.CardIdLabel"]</strong> @Yearcard.CardId</p>
        @if (ShowFullName())
        {
            <p><strong>@L["Yearcard.FullNameLabel"]</strong> @Yearcard.Name</p>
        }
        @if (ShowPhone())
        {
            <p><strong>@L["Yearcard.PhoneLabel"]</strong> @Yearcard.PhoneNumber</p>
        }
        @if (ShowUserName())
        {
            <p><strong>@L["Yearcard.Username"]</strong> @Yearcard.UserName</p>
        }
        @if (ShowEmail())
        {
            <p><strong>@L["Yearcard.EmailLabel"]</strong> @Yearcard.Email</p>
        }
    </div>
</div>

@code {
    [Parameter]
    public YearcardDTO Yearcard { get; set; } = new YearcardDTO();

    private bool ShowFullName() =>
        !string.IsNullOrEmpty(Yearcard.Name);

    private bool ShowPhone() =>
        !string.IsNullOrEmpty(Yearcard.PhoneNumber);

    private bool ShowUserName() =>
        !string.IsNullOrEmpty(Yearcard.UserName) &&
        Yearcard.UserName != Yearcard.PhoneNumber &&
        Yearcard.UserName != Yearcard.Email;

    private bool ShowEmail() =>
        !string.IsNullOrEmpty(Yearcard.Email);
}
